<html>
  <head>
    <title>My fancy template</title>
    <style>
      :root {
        background-color: cornflowerblue;
      }
    </style>
  </head>
  <body>
    {{content | safe}}
    <hr/>
    <i>foo notes</i>
  </body>
</html>